<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/hikaru.png" class="img-responsive img-centered" alt="" style="filter: grayscale(100%);">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/chess.png" class="img-responsive img-centered img-chess" alt="" style="filter: grayscale(100%);">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/spacex.png" class="img-responsive img-centered img-spacex" alt="" style="filter: grayscale(100%);">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/elon.png" class="img-responsive img-centered" alt="" height="10px" style="filter: grayscale(100%);">
                    </a>
                </div>
            </div>
        </div>
    </aside>