<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What can we do-do.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Development</h4>
                    <p class="text-muted">From machine learning algorithms to natural language processing and computer vision, our skilled developers build robust AI applications that drive innovation and efficiency.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Consulting</h4>
                    <p class="text-muted">Our expert consultants work closely with you to understand your unique challenges and goals, developing a customized AI strategy that aligns with your vision.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">We leverage the power of data to uncover valuable insights, enabling data-driven decision-making and predictive analytics that give you a competitive edge.</p>
                </div>
            </div>
        </div>
    </section>